body {
    background-image: url("../images/fishnets-and-hearts.png");
}
h1 {
    color: rgb(223, 50, 78);
    text-align: center;

}
p {
    color: rgb(238, 9, 116);  
    background-color: white;
    display: block;
    width: 300px;      
    position: relative;
    top: 25px;
    left: 500px;

}  
